body{
    background-color: aquamarine;
    background-image: url(html.jpg);
    opacity:0.8;
    border-style: :double;
    color:white;
    font-size:20px;
    text-align:center;
    border-top-style:dashed;
    border-bottom-style:double;
    border-left-style:solid;
    border-right-style:solid;
    border-radius:50px;
    margin:150px 150px 150px 150px;
}
div{
    padding-top:50px;
    padding-bottom:50px;
}